/* Imports the Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* Variables for this website */
:root {
    --primary: #176689;
    --primary-tint: #4480a3; 
    --primary-shade: #163f57;


    --light: #ffffff;
    --dark: #354449; 

    --muted: #e2e9eb;
    --muted-tint: #f1f7f8;
    --muted-shade: #c1d3d8;

    --font-normal: Verdana, Arial, sans-serif;
    --font-heading: "Montserrat", serif;
    
    --space-0: 0; /* 0px */
    --space-1: 0.5rem; /* 8px */
    --space-2: 1rem; /* 16px */
    --space-3: 2rem; /* 32px */
    
    --shadow-dark: 0 0.1rem 0.2rem 0.1rem rgba(54, 48, 41, 0.2);
    --shadow-light: 0 0.1rem 0.2rem 0.1rem rgba(255, 255, 255, 0.5);
    
}

    .shadow-dark {box-shadow: var(--shadow-dark);}
    .shadow-light {box-shadow: var(--shadow-light);}

/************************** COMPONENTS **************************/
body {
    background-color: var(--muted-shade);
}

/************************** LAYOUT **************************/
.container {
    max-width: 1280px;
    margin: var(--space-1) auto var(--space-0);
}
.d-flex { display: flex; }

.flex-between { justify-content: space-between; }

/* Css Reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--font-normal);
    line-height: 1.5;
}


h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    margin-bottom: 0.5rem;
    
}

/************************** BUTTONS **************************/
.btn {
    border:none;
    border-radius: var(--space-2);
    padding: var(--space-1) var(--space-2);
    cursor: pointer;
}

.btn-primary {
    background-color: var(--primary);
    color: var(--light);
}

.btn-primary:hover {
    background-color: var(--primary-tint);
}

.btn-primary:active {
    background-color: var(--primary-shade);
}

.btn-secondary {
    background-color: var(--muted);
    color: var(--dark);
}

.btn-secondary:hover {
    background-color: var(--muted-tint);
}

.btn-secondary:active {
    background-color: var(--muted-shade);
}

.link {
    color: var(--primary);
    text-decoration: underline;
}

.link:hover { 
    color:var(--primary-tint)
}


.link:active { 
    color:var(--primary-shade)
}

/************************** COLOURS **************************/
.bg-primary { background-color: var(--primary); }
.bg-light { background-color: var(--light); }
.bg-dark { background-color: var(--dark); }
.bg-muted { background-color: var(--muted); }

.text-primary { color: var(--primary); }
.text-light { color: var(--light); }
.text-dark { color: var(--dark); }
.text-muted { color: var(--muted); }

/************************** LAYOUT **************************/
.d-flex { display: flex; }

.d-flex-between { justify-content: space-between; }
.flex-column { flex-direction: column; }
.flex-between {flex:1;}

.grid-2col {
    display:grid;
    grid-template-columns: repeat(2, 1fr); 
}

.grid-3col {
    display:grid;
    grid-template-columns: repeat(3, 1fr); 
}

/************************** BANNER **************************/


body {
	display: grid;
	grid-template-rows: 20vh auto;
	grid-template-columns: auto;
	grid-template-areas: "banner" "body";
	
	margin: 0;
}

header {
	grid-area: banner;
	background-color: var(--primary);
	
	display: grid;		
	grid-template-rows: 100%;
	grid-template-columns: 1fr 2fr; 
	grid-template-areas: "logo nav";
}

figure {
	grid-area: logo;
	margin: 1rem auto 1rem 2rem;
}

nav {
	grid-area: nav;
	align-content: center;	
}

ul {
	display: flex;	
	justify-content: space-around; 
	list-style-type: none;	
}

a {
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;
	color: white;
}

main {
	grid-area: body;
}

/************************** BOXES **************************/

.box {
    background-color: var(--primary);
    padding: 5rem;
    flex: 0 1 100%;
    margin: 50px 50px 20px 20px;
    color: var(--light);
    text-decoration: none;
    font-size: 1.2rem;
    justify-content: center;
    text-align: center;
}

.course {
    background-color: var(--primary);
    padding: 5rem;
    flex: 0 1 100%;
    margin: 20px 20px;
    color: var(--light);
    text-decoration: none;
    font-size: 1.2rem;
}

.box.centered {
    text-align: center;
}

.box strong {
    font-size: 2rem;
    margin-bottom: 10px;
}

/************************** EVENT **************************/

.event{
    color: var(--primary-shade);
}

.event img{float: left;}

.event_text{
    text-align: right;
}
/************************** LINKS **************************/

a:visited {
    color: var(--light);
}

a:hover {
    color: var(--muted);
    text-decoration: underline;
}

a:active {
    color: var(--muted-shade);
}

/************************** SEARCH **************************/

.Search{
    align-items: center;
}

.Search input[type=text] {
    margin: 0 auto;
    display: block;
    font-size: 17px;
    border: 2px solid black;
    border-radius: 4px;
    padding: 10px;
    width: 55%;
}

body {
    display: grid;
    grid-template-rows: 30vh auto;
    grid-template-columns: auto;
    grid-template-areas:
        "banner"
        "body";
    margin: 0;
}

.Banner{
    max-width: 1400px;
    margin: auto;
}

/************************** SPACING **************************/
.m-0 { margin: var(--space-0); }
.m-1 { margin: var(--space-1); }
.m-2 { margin: var(--space-2); }
.m-3 { margin: var(--space-3); }

.p-0 { padding: var(--space-0); }
.p-1 { padding: var(--space-1); }
.p-2 { padding: var(--space-2); }
.p-3 { padding: var(--space-3); }

.gap-0 { gap: var(--space-0); }
.gap-1 { gap: var(--space-1); }
.gap-2 { gap: var(--space-2); }
.gap-3 { gap: var(--space-3); }
